<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Artikli - Cvjecara Nahida</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="header">

        
            <div class="container">
                <div class="navbar">
                    <h1 class="logo">Cvjećara Nahida</h1>
                    <nav>
                        
                       <ul id="MenuItems">
                        <li><a href="/">Pocetna</a></li>
                        <li><a href="/Artikli">Artikli</a></li>
                        <li><a href="/Dekoracija_vjencanja">Vjenčanja</a></li>
                        <li><a href="/O-nama">O nama </a></li>
                        <li><a href="/Kontakt">Kontakt </a></li>
                        <li class="cart">
                            <a href="/cart">
                                <img src="Slike/cart.png" width="35px" height="35px"><span class="cartAmount">0</span>
                            </a>
                        </li>
                        
                    </ul>
                    </nav>
                    <img src="Slike/menu.png" class="menu-icon" onclick="menutoggle()">
                </div>
                
    
            </div>
       
    <div class="small-container art">
        <div class="kont">
            <h2 class="title">Svi artikli</h2>
            <div class="row">
            <div onclick="window.location.href='/Artikli-flbox1';"class="col-44">
                <img src="Slike/artikli/flbox1.jpg" height="350px" >
                <h4>FlowerBox-1</h4>
                <p>80KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox2';"class="col-44">
                <img src="Slike/artikli/flbox2.jpg" height="350px">
                <h4>FlowerBox-2</h4>
                <p>80KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox3';"class="col-44">
                <img src="Slike/artikli/flbox3-2.jpg" height="350px">
                <h4>FlowerBox-3</h4>
                <p>75KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox4';" class="col-44">
                <img src="Slike/artikli/flbox4.jpg" height="350px">
                <h4>FlowerBox-4</h4>
                <p>35KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-flbox5';"class="col-44">
                <img src="Slike/artikli/flbox5.jpg" height="350px" >
                <h4>FlowerBox-5</h4>
                <p>60KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox6';"class="col-44">
                <img src="Slike/artikli/flbox6.jpg" height="350px">
                <h4>FlowerBox-6</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox7';"class="col-44">
                <img src="Slike/artikli/flbox7.jpg" height="350px">
                <h4>FlowerBox-7</h4>
                <p>50KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox8';" class="col-44">
                <img src="Slike/artikli/flbox8.jpg" height="350px">
                <h4>FlowerBox-8</h4>
                <p>65KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-korpa1';"class="col-44">
                <img src="Slike/artikli/korpa1.jpg" height="350px" >
                <h4>Korpa-1</h4>
                <p>70KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-korpa2';"class="col-44">
                <img src="Slike/artikli/korpa2.jpg" height="350px">
                <h4>Korpa-2</h4>
                <p>65KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-flbox9';"class="col-44">
                <img src="Slike/artikli/flbox9.jpg" height="350px">
                <h4>FlowerBox-9</h4>
                <p>25KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket30';" class="col-44">
                <img src="Slike/artikli/buket30.jpg" height="350px">
                <h4>Buket-30</h4>
                <p>70KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket31';"class="col-44">
                <img src="Slike/artikli/buket31.jpg" height="350px" >
                <h4>Buket-31</h4>
                <p>100KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket32';"class="col-44">
                <img src="Slike/artikli/buket32.jpg" height="350px">
                <h4>Buket-32</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket33';"class="col-44">
                <img src="Slike/artikli/buket33.jpg" height="350px">
                <h4>Buket-33</h4>
                <p>30KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket34';" class="col-44">
                <img src="Slike/artikli/buket34.jpg" height="350px">
                <h4>Buket-34</h4>
                <p>40KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket1';"class="col-44">
                <img src="Slike/artikli/buket1.jpg" height="350px" >
                <h4>Buket-1</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket2';"class="col-44">
                <img src="Slike/artikli/buket2.jpg" height="350px">
                <h4>Buket-2</h4>
                <p>12KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket3';"class="col-44">
                <img src="Slike/artikli/buket3.jpg" height="350px">
                <h4>Buket-3</h4>
                <p>12KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket4';" class="col-44">
                <img src="Slike/artikli/buket4.jpg" height="350px">
                <h4>Buket-4</h4>
                <p>12KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket5';" class="col-44">
                <img src="Slike/artikli/buket5.jpg" height="350px">
                <h4>Buket-5</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket6';" class="col-44">
                <img src="Slike/artikli/buket6.jpg" height="350px">
                <h4>Buket-6</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket7';" class="col-44">
                <img src="Slike/artikli/buket7.jpg" height="350px">
                <h4>Buket-7</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket8';" class="col-44">
                <img src="Slike/artikli/buket8.jpg" height="350px">
                <h4>Buket-8</h4>
                <p>35KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket9';" class="col-44">
                <img src="Slike/artikli/buket9.jpg" height="350px">
                <h4>Buket-9</h4>
                <p>50KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket10';" class="col-44">
                <img src="Slike/artikli/buket10.jpg" height="350px">
                <h4>Buket-10</h4>
                <p>10KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket11';" class="col-44">
                <img src="Slike/artikli/buket11.jpg" height="350px">
                <h4>Buket-11</h4>
                <p>10KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket12';" class="col-44">
                <img src="Slike/artikli/buket12.jpg" height="350px">
                <h4>Buket-12</h4>
                <p>30KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket13';" class="col-44">
                <img src="Slike/artikli/buket13.jpg" height="350px">
                <h4>Buket-13</h4>
                <p>30KM</p>
            </div>
           <div onclick="window.location.href='/Artikli-buket14';" class="col-44">
                <img src="Slike/artikli/buket14.jpg" height="350px">
                <h4>Buket-14</h4>
                <p>30KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket15';" class="col-44">
                <img src="Slike/artikli/buket15.jpg" height="350px">
                <h4>Buket-15</h4>
                <p>25KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket16';" class="col-44">
                <img src="Slike/artikli/buket16.jpg" height="350px">
                <h4>Buket-16</h4>
                <p>45KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket17';" class="col-44">
                <img src="Slike/artikli/buket17.jpg" height="350px">
                <h4>Buket-17</h4>
                <p>40KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket18';" class="col-44">
                <img src="Slike/artikli/buket18.jpg" height="350px">
                <h4>Buket-18</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket19';" class="col-44">
                <img src="Slike/artikli/buket19.jpg" height="350px">
                <h4>Buket-19</h4>
                <p>35KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket20';" class="col-44">
                <img src="Slike/artikli/buket20.jpg" height="350px">
                <h4>Buket-20</h4>
                <p>30KM</p>
            </div>
        </div>
        <div class="row">
            <div onclick="window.location.href='/Artikli-buket21';" class="col-44">
                <img src="Slike/artikli/buket21.jpg" height="350px">
                <h4>Buket-21</h4>
                <p>120KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket22';" class="col-44">
                <img src="Slike/artikli/buket22.jpg" height="350px">
                <h4>Buket-22</h4>
                <p>60KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket23';" class="col-44">
                <img src="Slike/artikli/buket23.jpg" height="350px">
                <h4>Buket-23</h4>
                <p>40KM</p>
            </div>
            <div onclick="window.location.href='/Artikli-buket24';" class="col-44">
                <img src="Slike/artikli/buket24.jpg" height="350px">
                <h4>Buket-24</h4>
                <p>40KM</p>
            </div>
        </div>
        </div>
        </div>
        </div>
        
        </div>
        
        
    </div>
        
        
        
        
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Kontakt</h3>
                        <p>063974322</p>
                        <p>062450105</p>
                    </div>
                    <div class="footer-col-2">
                        <h3>Radno vrijeme</h3>
                        <p>09:00-17:00</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Lokacija</h3>
                        <p>Novi Travnik Hanumina 1 E </p>
                    </div>
                    <div class="footer-col-4">
                        <h3>Zapratite nas</h3>
                        <ul>
                            <a href="https://www.facebook.com/profile.php?id=100063555123752">Facebook</a> 
                             <br> <a href="https://www.instagram.com/cvjecaranahida/">Instagram</a>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2022 - Velaludin</p>
            </div>
        </div>
        <script src="main.js"></script>
        <script>
            var MenuItems=document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){ 
            
                if( MenuItems.style.maxHeight=="0px")
                {
                     MenuItems.style.maxHeight="210px"
                }else{
                     MenuItems.style.maxHeight="0px"
                }
            }
        </script>
    </body>
</html>