<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>O nama - Cvjecara Nahida</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="header">

        
            <div class="container">
                <div class="navbar">
                    <h1 class="logo">Cvjećara Nahida</h1>
                    <nav>
                        
                        <ul id="MenuItems">
                            <li><a href="/">Pocetna</a></li>
                            <li><a href="/Artikli">Artikli</a></li>
                            <li><a href="/Dekoracija_vjencanja">Vjenčanja</a></li>
                            <li><a href="/O-nama">O nama </a></li>
                            <li><a href="/Kontakt">Kontakt </a></li>
                            <li class="cart">
                                <a href="/cart">
                                    <img src="Slike/cart.png" width="35px" height="35px"><span class="cartAmount">0</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <img src="Slike/menu.png" class="menu-icon" onclick="menutoggle()">
                </div>
                
    
            </div>
       
    <div class="small-container nama">
        <h2 class="nam">Dostava cvijeca i poklona u Novom Travniku i okolini</h2>
        <p> Pomoći ćemo vam da pronađete savršenu kombinaciju za vašu voljenu osobu i da je iznenadite cvjetnim aranžmanom i idealnim poklonom za svaku priliku.</p>
        <p>Učinite poseban dan kompletnim uz naše cvjetne aranžmane i poklone:bukete,flower boxove,korpice... Naravno uz vaše narudžbe možete i dodati čokolade,bombonjere,torte,medvjediće itd. </p>
       <p>Boje konačnog proizvoda mogu se razlikovati od prikazanog na fotografijama, u tom slučaju kontaktiramo radi zamjene. Svi aranžmani su podloženi promjenama</p>
       <p>Naravno kod nas možete naručiti i kebane, vjence i ostale aranžmane.</p>
       <h3>Dostava u grad Novi Travnik besplatna,a za druge gradove uzimamo minimalnu novčanu naknadu do vaše željene adrese</h3>
        
            
            <h2 class="nam">Kako plaćate za cvijeće?</h2>
            <p>Plaćanje se vrši na jedan od sljedećih načina:</p>
            <ul>
                <li>-Kreditnom karticom</li>
                <li>-PayPalom</li>
                <li>-Uplatom na bankovni račun</li>
            </ul>
    </div>
        
        
        
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Kontakt</h3>
                        <p>063974322</p>
                        <p>062450105</p>
                    </div>
                    <div class="footer-col-2">
                        <h3>Radno vrijeme</h3>
                        <p>09:00-17:00</p>
                    </div>
                    <div class="footer-col-3">
                        <h3>Lokacija</h3>
                        <p>Novi Travnik Hanumina 1 E</p>
                    </div>
                    <div class="footer-col-4">
                        <h3>Zapratite nas</h3>
                        <ul>
                           <a href="https://www.facebook.com/profile.php?id=100063555123752">Facebook</a> 
                             <br> <a href="https://www.instagram.com/cvjecaranahida/">Instagram</a>
                        </ul>
                    </div>
                </div>
                <hr>
                <p class="copyright">Copyright 2022 - Velaludin</p>
            </div>
        </div>
        <script src="main.js"></script>
        <script>
            var MenuItems=document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){ 
            
                if( MenuItems.style.maxHeight=="0px")
                {
                     MenuItems.style.maxHeight="210px"
                }else{
                     MenuItems.style.maxHeight="0px"
                }
            }
        </script>
    </body>
</html>